{% extends 'base_layout.html' %} {% block content %}
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Слово</th>
      <th>TF</th>
      <th>IDF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Test</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>1</td>
        <td>2</td>
    </tr>
  </tbody>
</table>
{% endblock %}
